<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">SmarterBarter</li>
      <li><button type="button" class="hollow button" data-open="regModal">Register</button></li>
      <li><button type="button" class="hollow button" data-open="logModal">Log in</button></li>
    </ul>
  </div>
</div>

<!-- Register modal -->
<div class="reveal" id="regModal" data-reveal>
  <p>Testing modal functionality</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>